[submodule "third_party/melonDS"]
	path = third_party/melonDS
	url = https://github.com/melonDS-emu/melonDS.git
[submodule "third_party/SameBoy"]
	path = third_party/SameBoy
	url = https://github.com/LIJI32/SameBoy.git
